.header-search-bar {

  > label {
    font-size: 2.5ch;
    padding-right: .25em;
  }
  
  > input[type="search"] {
    border-radius: 20px 0 0 20px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 3ch;
    padding-left: .75em;
  }
  
  > input[type="reset"] {
    border-radius: 0 20px 20px 0;
    border: 1px solid black;
    padding-right: .15em;
    height: 3ch;
    width: 3ch;
  }
}